.nav{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    background-color: #FFF;
    min-height: 72px;
}

.user-account{
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.user-account a{
    height: 100%;
    width: 100%;
    display: block;
    padding: 0 !important;
}